.image-draw {
  position: relative;
  overflow: hidden;
}

.image-draw-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
